name: CI CD - API-Flask Python App

on:
 push

jobs:
 ci-cd:
   runs-on: ubuntu-latest
   steps:
     - name: Checkout
       uses: actions/checkout@v6.0.1
     - name: Docker Setup Buildx
       uses: docker/setup-buildx-action@v3.11.1
     - name: Docker Login
       uses: docker/login-action@v3.6.0
       with:
         username: ${{secrets.DOCKER_UN}}
         password: ${{secrets.DOCKER_PWD}}
     - name: Build and push Docker images
       uses: docker/build-push-action@v6.18.0
       with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
           ${{secrets.DOCKER_UN}}/myapp:latest
           ${{secrets.DOCKER_UN}}/myapp:${{ github.sha}}
     - name: Setup Kubectl for kubernetes
       uses: azure/setup-kubectl@v3
       with:
         version: 'latest'      
     - name: Setup Minikube
       run: |
        minikube start
        kubectl config use-context minikube 
        
     - name: Deploy to Single cluster k8s
       run: |
        kubectl apply -f k8s/deployment.yml
        kubectl apply -f k8s/service.yml
